#rolloverPanel{
	position: absolute;
	background-color: rgba(255,255,255,0.9);
	border: 1px solid #CCC;
	box-shadow: 0 0 5px #DDD;
}

#rolloverPanel div{
	display: block;
	font-family: arial;
	font-size: 0.6em;
	margin: 0.4em auto;
	padding-left: 0.6em;
	padding-right: 0.6em;
	cursor: default;
	transition: background-color 0.2s;
	-webkit-transition: background-color 0.2s;
}

#rolloverPanel div:hover{
	background-color: rgba(0,0,0,0.2);
}

.listPanel {
	position: absolute;
	background-color: rgba(255,255,255,0.9);
	border: 1px solid #CCC;
	box-shadow: 0 0 5px #DDD;
}

#infoPanel {
	position: fixed;
	background-color: rgba(255,255,255,0.9);
	border: 1px solid #CCC;
	box-shadow: 0 0 5px #DDD;
	left: 0;
	bottom: 0;
}

.loadingScreen {
	width: 100%;
	text-align:center;
	display: inline-block;
	font-size: 2em;
	font-weight: bold;
	font-family: arial;
	padding-top: 1em;
	padding-bottom: 1em;
}

#cartesian_plane, #cartesian_plane svg{
	position: absolute;
	left: 0;
	top: 0;
}

#cartesian_plane{
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}

#slidebar{
	height: 2em;
	position: relative;
	background-image: url(images/slidebar.svg);
	background-size: 100% 1em;
	background-repeat: no-repeat;
	background-position: 0 1em;
	overflow: hidden;
}

.slidebar_key{
	position: absolute;
	background-color: rgba(0,0,0,0.2);
	height: 1em;
	bottom: 0;
	transition: background-color 0.2s;
	-webkit-transition: background-color 0.2s;
}

.slidebar_key:hover{
	background-color: rgba(0,0,0,0.8);
}

#playback,
#settings{
	float: left;
	height: 2em;
}

/* Modular UI */

.text-bold{
	font-weight: bold;
}

.panel{
	position:absolute;
	left: 0;
	right: 0;
	border-top: 1px solid rgba(0,0,0,0.2);
	border-bottom: 1px solid rgba(0,0,0,0.2);
	box-shadow: 0 0 2px #DDD;
	background-color: rgba(255,255,255,0.9);
	z-index: 100;
}

.vertical_layout{
	padding: 0.5em;
}

.vertical_layout_clear{
	padding: 0.25em;
	padding-bottom: 0;
}

#blocking{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
}

.ui_separator{
	float: left;
	height: 2em;
	width: 1px;
	margin: auto 0.5em;
	background-color: rgba(0,0,0,0.2);
}

.ui_separator_hor{
	float: left;
	height: 1px;
	width: 100%;
	margin: 0.5em auto;
	background-color: rgba(0,0,0,0.2);
}

.ui_input_label,
.ui_input{
	display: inline-block;
	font-family: arial;
	font-size: 0.8em;
	line-height: 1.5em;
	height: 1.5em;
}

.ui_input{
	width: 6em;
}

.ui_button{
	width: 1.5em;
	height: 1.5em;
	float: left;
	border: 1px solid rgba(0,0,0,0.2);
	margin: 0.25em 0.25em;
	transition: border 0.2s;
	-webkit-transition: border 0.2s;
}

.ui_button:hover{
	border: 1px solid black;
}

/* Button styles */

#stepbackButton{
	background-image: url(images/stepback.svg);
	background-position: center center;
	background-repeat: no-repeat;
}

#playButton{
	background-image: url(images/play.svg);
	background-position: center center;
	background-repeat: no-repeat;
}

#stepforButton{
	background-image: url(images/stepfor.svg);
	background-position: center center;
	background-repeat: no-repeat;
}

#settingsDropdown{
	background-image: url(images/settings.svg);
	background-position: center center;
	background-repeat: no-repeat;
}

#exportButton{
	background-image: url(images/save.svg);
	background-position: center center;
	background-repeat: no-repeat;
}

#updateButton{
	background-image: url(images/update.svg);
	background-position: center center;
	background-repeat: no-repeat;
}

#exportResultOk{
	background-image: url(images/x-mark.svg);
	background-position: center center;
	background-repeat: no-repeat;
}